[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
psycopg2-binary = "*"    # Postgres driver
python-dotenv = "*"      # For loading DATABASE_URI from .env
requests = "*"           # (optional) if you’re making API calls

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
